.header {
  position: relative;

  .wrapper {
    position: relative;
    z-index: 2;
  }
}
.navigation {
  padding:1em .6em;
}
.navigation,
.nav-items {
  display: flex;
  align-items: center;
}
.nav-items {
  margin-left: 2em;
}
.nav-items__link {
  display: inline-block;
  padding: 6px 2em;
  color: var(--text);
}

.nav-btn {
  display: none;
  padding: .4em;
}
@media (max-width: 731px) {
  .nav-btn {
    display: block;
  }
  .nav-items {
    display: none;
  }
  .navigation {
    justify-content: space-between;
  }
}