.hero {
    margin-right: 0px;
}
@media (min-width: 1440px) {
    .hero {
        margin-right: auto;
    }  
}
 .hero-1 {
    background-image: url(/assets/img/hero/BQ-Safewash-baby-4-hero-1.webp);
    background-repeat: no-repeat;
    background-position: calc(100% + 30px) -126px; 
}
@media (max-width: 676px) {
    .hero {
        background-image: none!important;
    }  
}

.hero-inner {    
    position: relative;
    z-index: 2;    
}
.hero-content {
    margin: .5em 0;
}

.hero-content {

    .btn {
        margin-top: 1.5em;
    }
}
 
/* hero slider */
.slider-buttons {
    margin: 1.8em 0;
    display: flex;
}
.slider-btn {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--pink);
    margin-right: 6px;
}
.hero-carousel {
    display: flex;
}
/* activate sliders */
#hero-1:checked ~ .hero-1 {
    left: 0;
}
#hero-1:checked ~ .hero-2,
#hero-1:checked ~ .hero-3,
#hero-1:checked ~ .hero-4 {
    left: -99999px;
}
#hero-2:checked ~ .hero-2 {
    left: 0;
    display: block;
}
#hero-2:checked ~ .hero-1,
#hero-2:checked ~ .hero-3,
#hero-2:checked ~ .hero-4
 {
    left: -99999px;
}
#hero-3:checked ~ .hero-3 {
    left: 0;
    display: block;
}
#hero-3:checked ~ .hero-1,
#hero-3:checked ~ .hero-2,
#hero-3:checked ~ .hero-4
 {
    left: -99999px;
}
#hero-4:checked ~ .hero-4 {
    left: 0;
    display: block;
}
#hero-4:checked ~ .hero-1,
#hero-4:checked ~ .hero-3,
#hero-4:checked ~ .hero-2
 {
    left: -99999px;
}