/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

 html {
    box-sizing: border-box;
  }
  
  
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
    html,body {
      height: 100%;
      width: 100%;
    }
  
  /**
   * Reset some basic elements
   */
  body, h1, h2, h3, h4, h5, h6,
  p, blockquote, pre, hr,
  dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0; }
  
  /*------------------------------------*  #SHARED
  \*------------------------------------*/
  /**
   * Shared declarations for certain elements.
   */
  /**
   * Always declare margins in the same direction:
   * csswizardry.com/2012/06/single-direction-margin-declarations
   */
  input,
  textarea,
  button {
    font-family: inherit; }
  
  textarea {
    resize: none; }
  
  /*------------------------------------*  #PAGE
  \*------------------------------------*/
  /**
   * Page-level styling (e.g. HTML and BODY elements).
   */
   :root {
      --normal:400;
      --semi:500;
      --bold:600;
      --font:'Cocon','Open Sans';
      --font-size: 15px;
      --pink: #FE96C6;
      --purple: #9d3e89;
      --blue:  #21A4C4;
      --green: #6EB245;
      --pale-greeb: #02998a;
      --bg: #fff;
      --text: #333;
      --border: rgba(0,0,0,.2);
      --z-10: 10;
      --z-20: 20;
      --z-30: 30;
      --z-40: 40;
      --z-50: 50;
      --z-60: 60;
     }
  
  html {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: var(--normal);
      color: var(--text);
      font-size: 16px;
      transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      line-height: 1.4;
      letter-spacing: 0.011em;
   }
   
    body {
     background-color: var(--bg); 
    }
    
    :focus {
      border: 1px dashed var(--pink);
    }
    
    /*------------------------------------*  #HEADINGS
    \*------------------------------------*/
    /**
     * Simple default styles for headings 1 through 6.
     */
   
   
    /*------------------------------------*  #PARAGRAPHS
    \*------------------------------------*/
    /**
     * Basic styling for paragraphs.
     */
    p {
      line-height: 1.4;
     }
    
      
    /*------------------------------------*  #LINKS
    \*------------------------------------*/
    /**
     * Default styles for simple hyperlinks.
     */
    a {
      text-decoration: none;
      color: var(--primary-color);
      text-shadow: 0px 0px var(--border);
    }
  
      button {
        background: transparent;
        cursor: pointer;
        border: 0;
      }
     
    
    /*------------------------------------*  #LISTS
    \*------------------------------------*/
    /**
     * Remove trailing margins from nested lists.
     */
     ol,ul {
         list-style: none;
     }
    li > ul,
    li > ol {
      margin-bottom: 0; }
    
    /**
     * Visually offset definition titles from their definitions.
     */
    dt {
      font-weight: 700; }
    
    /*------------------------------------*    #IMAGES
    \*------------------------------------*/
    /**
     * 1. Fluid images for responsive purposes.
     * 2. Offset `alt` text from surrounding copy.
     * 3. Setting `vertical-align` removes the whitespace that appears under `img`
     *    elements when they are dropped into a page as-is. Safer alternative to
     *    using `display: block;`.
     */
    img {
      max-width: 100%;
      /* [1] */
      font-style: italic;
      /* [2] */
      vertical-align: middle;
      /* [3] */ }
    
    /**
     * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
     *    not make the image fluid.
     */
    img[width],
    img[height] {
      /* [1] */
      max-width: none; }
      svg {
        fill: currentColor;
        vertical-align: middle;
      }
    
    /*------------------------------------*  #QUOTES
    \*------------------------------------*/
    /**
     * Basic styling for quoted text.
     */
    q {
      quotes: "‘" "’"; }
      q:before {
        content: open-quote; }
      q:after {
        content: close-quote; }
    
    blockquote {
      quotes: "“" "”"; }
  
  /* end of reset */
  
  /* header css */
  