@charset "UTF-8";
@font-face {
  font-family: "Cocon";
  src: url("/assets/fonts/Cocon-Regular.eot");
  src: url("/assets/fonts/Cocon-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Cocon-Regular.woff2") format("woff2"), url("/assets/fonts/Cocon-Regular.woff") format("woff"), url("/assets/fonts/Cocon-Regular.ttf") format("truetype"), url("/assets/fonts/Cocon-Regular.svg#Cocon-Regular") format("svg");
  font-style: normal;
  font-display: swap;
}
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/*------------------------------------*  #SHARED
\*------------------------------------*/
/**
 * Shared declarations for certain elements.
 */
/**
 * Always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */
input,
textarea,
button {
  font-family: inherit;
}

textarea {
  resize: none;
}

/*------------------------------------*  #PAGE
\*------------------------------------*/
/**
 * Page-level styling (e.g. HTML and BODY elements).
 */
:root {
  --normal:400;
  --semi:500;
  --bold:600;
  --font:"Cocon","Open Sans";
  --font-size: 15px;
  --pink: #FE96C6;
  --purple: #9d3e89;
  --blue: #21A4C4;
  --green: #6EB245;
  --pale-greeb: #02998a;
  --bg: #fff;
  --text: #333;
  --border: rgba(0,0,0,.2);
  --z-10: 10;
  --z-20: 20;
  --z-30: 30;
  --z-40: 40;
  --z-50: 50;
  --z-60: 60;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--normal);
  color: var(--text);
  font-size: 16px;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  line-height: 1.4;
  letter-spacing: 0.011em;
}

body {
  background-color: var(--bg);
}

:focus {
  border: 1px dashed var(--pink);
}

/*------------------------------------*  #HEADINGS
\*------------------------------------*/
/**
 * Simple default styles for headings 1 through 6.
 */
/*------------------------------------*  #PARAGRAPHS
\*------------------------------------*/
/**
 * Basic styling for paragraphs.
 */
p {
  line-height: 1.4;
}

/*------------------------------------*  #LINKS
\*------------------------------------*/
/**
 * Default styles for simple hyperlinks.
 */
a {
  text-decoration: none;
  color: var(--primary-color);
  text-shadow: 0px 0px var(--border);
}

button {
  background: transparent;
  cursor: pointer;
  border: 0;
}

/*------------------------------------*  #LISTS
\*------------------------------------*/
/**
 * Remove trailing margins from nested lists.
 */
ol, ul {
  list-style: none;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Visually offset definition titles from their definitions.
 */
dt {
  font-weight: 700;
}

/*------------------------------------*    #IMAGES
\*------------------------------------*/
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */
}

/**
 * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
img[width],
img[height] {
  /* [1] */
  max-width: none;
}

svg {
  fill: currentColor;
  vertical-align: middle;
}

/*------------------------------------*  #QUOTES
\*------------------------------------*/
/**
 * Basic styling for quoted text.
 */
q {
  quotes: "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

blockquote {
  quotes: "“" "”";
}

/* end of reset */
/* header css */
.wrapper {
  width: 96%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

/* title */
.title {
  color: var(--pink);
  font-family: "cocon";
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  max-width: 701px;
  margin-top: 1em;
}

.stroke-text {
  font-size: 48px;
  font-family: sans-serif;
  max-width: 600px;
  margin-top: 0.5em;
  line-height: 70px;
  text-shadow: 1px 1px 0 var(--pink), -1px -1px 0 var(--pink), 1px -1px 0 var(--pink), -1px 1px 0 var(--pink), 1px 1px 0 var(--pink);
}

@supports (-webkit-text-stroke: 1px black) {
  .stroke-text {
    -webkit-text-stroke: 1px var(--pink);
    -webkit-text-fill-color: white;
  }
}
/* flex css */
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* colors */
.color-purple {
  color: var(--purple);
}

.color-blue {
  color: var(--blue);
}

.color-green {
  color: var(--green);
}

.color-pale-green {
  color: var(--pale-green);
}

.about-img {
  position: relative;
}
.about-img .img-wrap {
  position: absolute;
  bottom: -13px;
  left: -16px;
  transform: rotate(17.96deg);
}

.btn {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border-radius: 11px 11px 11px 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover {
  opacity: 0.5;
}

.btn--primary {
  color: white;
  background: var(--green);
}

.btn--large {
  padding: 1em 2em;
}

.btn.btn--round {
  border-radius: 11px;
}

.btn--small {
  padding: calc(14px/2) 1em;
  color: #fff;
}

.btn--blue {
  background: var(--blue);
}

.header {
  position: relative;
}
.header .wrapper {
  position: relative;
  z-index: 2;
}

.navigation {
  padding: 1em 0.6em;
}

.navigation,
.nav-items {
  display: flex;
  align-items: center;
}

.nav-items {
  margin-left: 2em;
}

.nav-items__link {
  display: inline-block;
  padding: 6px 2em;
  color: var(--text);
}

.nav-btn {
  display: none;
  padding: 0.4em;
}

@media (max-width: 731px) {
  .nav-btn {
    display: block;
  }

  .nav-items {
    display: none;
  }

  .navigation {
    justify-content: space-between;
  }
}
.hero {
  margin-right: 0px;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-bg::before {
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(213.01deg, #ffffff 4.13%, rgba(254, 150, 198, 0.5) 80.31%);
  filter: drop-shadow(0px 4px 3px #fe96c6);
  /* opacity: 0.5; */
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.hero-bg::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/hero/BQ-Safewash-baby-4-hero-1.webp);
  background-repeat: no-repeat;
  background-size: 45em;
  background-position: calc(100% + 30px) 0px;
}

@media (min-width: 1440px) {
  .hero {
    margin-right: auto;
  }
}
@media (max-width: 731px) {
  .hero-bg::after {
    background-image: none !important;
  }
}
.hero-inner {
  position: relative;
  z-index: 3;
}

.hero-content {
  margin: 2em 0 4em 0;
}

.hero-content .btn {
  margin-top: 1.5em;
}

/* hero slider */
.slider-buttons {
  margin: 1.8em 0;
  display: flex;
}

.slider-btn {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid var(--pink);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 6px;
}

.hero-carousel {
  display: flex;
}

/* activate sliders */
#hero-1:checked ~ .hero-1 {
  left: 0;
}

#hero-1:checked ~ .hero-2,
#hero-1:checked ~ .hero-3,
#hero-1:checked ~ .hero-4 {
  left: -99999px;
}

#hero-2:checked ~ .hero-2 {
  left: 0;
  display: block;
}

#hero-2:checked ~ .hero-1,
#hero-2:checked ~ .hero-3,
#hero-2:checked ~ .hero-4 {
  left: -99999px;
}

#hero-3:checked ~ .hero-3 {
  left: 0;
  display: block;
}

#hero-3:checked ~ .hero-1,
#hero-3:checked ~ .hero-2,
#hero-3:checked ~ .hero-4 {
  left: -99999px;
}

#hero-4:checked ~ .hero-4 {
  left: 0;
  display: block;
}

#hero-4:checked ~ .hero-1,
#hero-4:checked ~ .hero-3,
#hero-4:checked ~ .hero-2 {
  left: -99999px;
}

.section {
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.section--pad {
  padding: 3em 2em 0.5em 2em;
}

.section.section--top-reset {
  padding-top: 0px;
}

@media (min-width: 700px) {
  .section--pad {
    padding: 6em 2em 0.5em 2em;
  }
}
.section--inner {
  position: relative;
  z-index: 2;
}

.section-inner-wrap {
  max-width: 866px;
  margin: 0 0 0 auto;
}

.section--blur {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  opacity: 0.5;
}

.section-baby-blur {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(131.41deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 15.33%, rgba(255, 210, 231, 0.9) 35.21%, rgba(254, 168, 208, 0.9) 51.11%, rgba(254, 166, 207, 0.9) 69.85%, rgba(255, 255, 255, 0.9) 98.24%, rgba(255, 255, 255, 0.9) 109.03%), url(/assets/img/baby-blured.webp);
}

.section-soap-blur {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(137.03deg, rgba(255, 255, 255, 0.95) 47.28%, rgba(254, 150, 198, 0.95) 152.37%), url(/assets/img/bq-safewash-only.webp);
  background-position: center;
  background-size: cover;
}

.section-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section-flex .section-block {
  margin-top: 3.5em;
}

.order-1 {
  order: -1;
}

@media (min-width: 568px) {
  .section-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .section-flex .section-block {
    margin-top: 0px;
  }

  .order-1 {
    order: 0;
  }
}
.grid-gap-40 {
  grid-gap: 40px;
}

.grid-gap-16 {
  grid-gap: 16px;
}

.section--head {
  padding: 2em 6px 4em 6px;
  max-width: 500px;
  margin: 0px auto;
}
.section--head h2 {
  margin-bottom: 16px;
}
.section--head .btn {
  margin-top: 1.5em;
}

.section-blocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block-img {
  margin-bottom: 6px;
}

.block-title {
  margin-bottom: 9px;
  display: block;
}

.about-block > * {
  margin-top: 2em;
}

@media (min-width: 900px) {
  .about-block {
    min-width: 35em;
  }

  .about-block.width-reset {
    min-width: unset;
  }
}
.card-grid {
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 38px;
  max-width: 750px;
}

.card {
  background: #ffffff;
  margin: 1em 0;
  border: 1px solid #ededed;
  border-top: 0;
  border-radius: 11px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card .card-img {
  background: white;
  width: 102%;
  left: -1%;
  position: relative;
}
.card .card-img::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 1px;
  width: 99%;
  height: 100%;
  border: 1px solid #ededed;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom: 0;
}
.card .card-img img {
  position: relative;
  z-index: 2;
  width: 130px;
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.1));
}
.card .card-img .card-img-offset {
  position: relative;
  display: inline-block;
}
.card .card-img .card-img-offset::after {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: -10%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: currentColor;
}
.card .card-content {
  padding: 30px 0px;
}
.card .card-content strong {
  margin-bottom: 1.5em;
  display: block;
  color: var(--green);
}
.card .card-content .btn {
  margin: 1.5em 0 0.5em 0;
}
.card .card-content > * + * {
  margin-top: 0.6em;
}/*# sourceMappingURL=style.css.map */